@mixin list-style {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin link-style {
  display: inline-block;
	color: inherit;
	text-decoration: none;
  font-size: inherit;
}

@mixin element-style ($width, $height, $color) {
	content: "";
	display: block;
	position: absolute;
	width: $width;
	height: $height;
	background-color: $color;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
